$primaryColor:#186bb8;
$secondaryColor:#1a868a;
$accentColor: #12B886;

$xSmallBorder:785px;
$mediumBorder:992px;






















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































